<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application Submitted</title>
  </head>
  <body>
    <h2>Application for the role of "{{job['title']}}"Submitted at NagaCareers</h2>
    <p>Name: {{ application['full_name'] }}</p>
    <p>Email: {{ application['email'] }}</p>
    <p>LinkedIn: {{ application['linkedin_url'] }}</p>
    <p>Education: {{ application['education'] }}</p>
    <p>Experience: {{ application['work_experience'] }}</p>
    <p>Resume: {{ application['resume_url'] }}</p>
  </body>
</html>
