<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Naga Careers</title>

   {%include 'bootstrap.html' %}
  
  </head>
  <body>
    <!-- Its best practice create seperate which are repeating -->
    {% include 'nav.html' %}
  <div class="container">
    {% include 'banner.html' %}
    <h1 class="text-center mt-2 mb-4">Welcome to Naga Careers</h1>
      <p class="text-center mt-2 mb-4">Explore our job openings and find your dream job!</p>

      <h2 class="text-center">About Us</h2>
      <!-- column spacing --create row and then columns-->
      <div class="row">
        <!-- <div class="col-6"> it will same for all devices all screen sizes but if dont want this phone screen which is medium screen then -->
        <!-- it allows in medium devices md -->
        <div class="col-md-6" >  
      <p class="lead">
        Welcome to Naga Careers, where ambition meets opportunity. We are
        dedicated to empowering job seekers, students, and professionals with
        the tools, resources, and guidance they need to achieve career success.
        Whether you're starting your journey, looking for new opportunities, or
        aiming to upgrade your skills, Naga Careers is your trusted partner
        every step of the way.
      </p>
      </div>
      <!-- doesnt allow in medium devices -->
      <div class ="d-none d-md-block col-md-6">
        <img src="/static/people.jpg" style="height:320px ;border-radius: 4px;" >
      </div>
      <h2 class="text-center">Open Positions</h2>
      <p>
        <!--print the job individuals-->
        <!-- {% for job in jobs %}
                    {% for value in job %}
                        <div> {{job[value]}}  </div>
                    {% endfor %}     
                {% endfor %} -->
        {% for job in jobs%} {% include 'jobitem.html' %} {% endfor %}
      </p>
      <div class="text-center"><a href="mailto:mailto:snagasuhas@gmail.com?subject=Application%20Link&body=My%20name%3A%3Cyour%20name%20here%3E%0D%0AMy%20Resume%20Link%3A%3Cresume%20link%3E" type="button" class="btn btn-primary">Contact US</a></div>
    </div>
    

    {% include 'footer.html'%}
  </body>
</html>
