<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Naga Careers </title>   
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <style>
        #banner {
          height:360px;
          width:100%;
        }
    </style>
</head>
<body>
    <div class="container">   
        <h1 class="text-center mt-2 mb-4">Welcome to Naga Careers</h1> 
            <p>Explore our job openings and find your dream job!</p> 
            <img class ="img-fluid"src="static\Banner.jpg" id="banner" >
            <h2 class="text-center">About Us</h2>
                <p class="lead">Welcome to Naga Careers, where ambition meets opportunity.
                   We are dedicated to empowering job seekers, students, and 
                   professionals with the tools, resources, and guidance they 
                   need to achieve career success. Whether you're starting your 
                   journey, looking for new opportunities, or aiming to upgrade your skills, 
                   Naga Careers is your trusted partner every step of the way.
                </p>
            <h2 class="text-center">Open Positions</h2>    
            <p >
                <!--print the job individuals-->
                <!-- {% for job in jobs %}
                    {% for value in job %}
                        <div> {{job[value]}}  </div>
                    {% endfor %}     
                {% endfor %} -->
            {% for job in jobs%}
                {% include 'jobitem.html' %}
            {% endfor %}
            </p>
        <div class="text-center">
            <button   type="button" class="btn btn-primary btn-lg" >Contact Us</button>
            <p class="mt-2">Copyright 2025</p>
        </div>
    </div>
</body> 
</html>