<div class="border-bottom row" ;style="margin-bottom: 16px;padding-bottom:8px;">
  <div class="col-9">
    <h4 style="color: rgb(160, 95, 95); margin-top: 4px">{{job['title']}}</h4>

    <div><b>Location:</b>{{job['location']}}</div>

    {% if 'salary' in job %}
    <div><b>Salary :</b> {{job['salary']}}</div>
    {%endif %}
  </div>

  <div class="col-3" style="margin-top: 20px">
    <!-- ancher tag is used for links href is where we mention link and mail to is where mail id and body and also we can use mailtolink genratoe and paste url there -->
    <a href="/job/{{job['id']}}" type=""button" class=""btn-outline-primary float-right align-middle"> Apply</a>
  </div>
</div>
